## Purpose
This notebook loads the contracts and identities tables into pandas dataframes for analyses.

In [6]:
from pudl_rmi.process_eqr import engine, DATE_COLUMNS

import pandas as pd

## Load Contracts

In [7]:
with engine.connect() as conn:
    # TODO:  For some read pd.read_sql_table is having trouble parsing date columns.
    contracts = pd.read_sql("select * from contracts", conn, parse_dates=DATE_COLUMNS.get("contracts"))

contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778269 entries, 0 to 778268
Data columns (total 33 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   contract_unique_id                     778269 non-null  object
 1   seller_company_name                    778269 non-null  object
 2   seller_history_name                    0 non-null       object
 3   customer_company_name                  778269 non-null  object
 4   contract_affiliate                     778269 non-null  object
 5   ferc_tariff_reference                  778241 non-null  object
 6   contract_service_agreement_id          778189 non-null  object
 7   contract_execution_date                778269 non-null  datetime64[ns]
 8   commencement_date_of_contract_term     778269 non-null  datetime64[ns]
 9   contract_termination_date              260131 non-null  datetime64[ns]
 10  actual_termination_date                15911 non-null   datetime64[ns]
 11  extension_provision_description        726657 non-null  object
 12  class_name                             415554 non-null  object
 13  term_name                              621383 non-null  object
 14  increment_name                         379625 non-null  object
 15  increment_peaking_name                 282761 non-null  object
 16  product_type_name                      778269 non-null  object
 17  product_name                           778269 non-null  object
 18  quantity                               303602 non-null  float64
 19  units                                  451958 non-null  object
 20  rate                                   439856 non-null  float64
 21  rate_minimum                           145595 non-null  float64
 22  rate_maximum                           151886 non-null  float64
 23  rate_description                       744941 non-null  object
 24  rate_units                             433626 non-null  object
 25  point_of_receipt_balancing_authority   177629 non-null  object
 26  point_of_receipt_specific_location     148712 non-null  object
 27  point_of_delivery_balancing_authority  265829 non-null  object
 28  point_of_delivery_specific_location    220636 non-null  object
 29  begin_date                             318643 non-null  datetime64[ns]
 30  end_date                               307592 non-null  datetime64[ns]
 31  year                                   778269 non-null  int64
 32  quarter                                778269 non-null  object
dtypes: datetime64[ns](6), float64(4), int64(1), object(22)
memory usage: 195.9+ MB

## Load Identities

In [10]:
with engine.connect() as conn:
    identities = pd.read_sql_table("identities", conn)

identities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 16 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   filer_unique_id                                  22998 non-null  object
 1   company_name                                     22998 non-null  object
 2   company_identifier                               22998 non-null  object
 3   contact_name                                     22998 non-null  object
 4   contact_title                                    22998 non-null  object
 5   contact_address                                  22998 non-null  object
 6   contact_city                                     22998 non-null  object
 7   contact_state                                    22998 non-null  object
 8   contact_zip                                      22998 non-null  object
 9   contact_country_name                             22998 non-null  object
 10  contact_phone                                    22998 non-null  object
 11  contact_email                                    22998 non-null  object
 12  transactions_reported_to_index_price_publishers  22998 non-null  object
 13  filing_quarter                                   22998 non-null  int64
 14  year                                             22998 non-null  int64
 15  quarter                                          22998 non-null  object
dtypes: int64(2), object(14)
memory usage: 2.8+ MB